html {
    box-sizing: border-box;
    }
*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
	max-width: 600px;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 2rem;
}

.background-image {
	background-image: url("/assets/backgroundimage.jpeg");
	min-width:  100%;
	max-width:  100%;
}

.my-title {
	color: red;
	font-family: serif;
	text-align: center;
}

.buttons {
	padding: 1rem;
    display: block;   
    color:  #BF8333;
    background-color: #ECD29C;
    font-size: 1rem;
    border: solid;
    border-color: #BF8333;
  }
}
.buttons:hover {
    color: #E4FDE9;
}

.section {
    padding: 2rem 1rem 1rem;
    margin: 1rem;
}