html {
    box-sizing: border-box;
    }
*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
	max-width: 600px;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 2rem;
}

.background-image {
	background-image: url("/assets/backgroundimage.jpeg");
	min-width:  100%;
	max-width:  100%;
}
}